openapi: 3.0.3
info:
  title: Telkomsel DigiHub APIs
  description: Consolidated OpenAPI for the API products Telkomsel exposes to developers and enterprises
    through DigiHub (https://digihub.telkomsel.com), Telkomsel's API marketplace. Paths, methods, parameters,
    schemas, and examples are taken verbatim from DigiHub's own published per-endpoint OpenAPI documents
    (served publicly at https://digihub.telkomsel.com/apis/V2/endpoint/{id}); $refs were inlined and the
    per-endpoint documents merged into one file. Most APIs authenticate with an api_key header plus an
    x-signature header of SHA256(API Key + Secret Key + epoch timestamp); the CAMARA-style SIM Swap API
    uses OIDC CIBA (/bc-authorize + /token) with a bearer token. Calling any of these endpoints requires
    a DigiHub account and a subscribed plan (sandbox, quota, tier, or PAYU); enterprise plans require
    an NDA or commercial contract.
  version: '2026-07-11'
  contact:
    url: https://digihub.telkomsel.com/showcase/contactus
externalDocs:
  description: DigiHub Consumer Guide
  url: https://digihub.telkomsel.com/documentation
servers:
- url: https://api.digitalcore.telkomsel.com
  description: Telkomsel Digital Core API gateway (primary DigiHub production host; some APIs are served
    from https://digihub.telkomsel.com instead - see path-level servers)
tags:
- name: SMS
  description: Application-to-person SMS - regular and premium sends plus delivery-status polling.
- name: USSD
  description: USSD broadcast messaging and delivery status.
- name: Subscriber Check
  description: MSISDN state - active status, subscriber type, roaming, call forwarding, recycled numbers.
- name: Identity Verification
  description: NIK/MSISDN pairing, KTP matching, and general ID verification against SIM-registration
    data.
- name: Location
  description: Location verification scoring and last known location.
- name: SIM Swap
  description: SIM swap detection - marketplace SIM Swap v2 and the CAMARA-style /sim-swap/v0 API with
    CIBA auth.
- name: Consent Management
  description: Register customer consent required by subscriber-data products.
- name: Scoring and Insights
  description: Telco-data scores - tScore, generic telco score, SES, interest, lifestyle, loyalist.
security:
- ApiKeyAuth: []
  SignatureAuth: []
paths:
  /digihub/v1/reguler/sendsms:
    post:
      summary: Send SMS
      operationId: sendSMS
      description: This service will send SMS to Telkomsel MSISDN.
      parameters:
      - in: header
        name: api_key
        example: e688u2hgpkzjd244wecywwv8
        description: API Key / Package Key from Digihub
        required: true
        schema:
          type: string
      - in: header
        name: x-signature
        example: ff080f3200a5945deeb59ad65e2b33788f5df49066a82afcf8b6d5bf43ff76ea
        description: SHA256 (API Key + Secret Key + timeStamp). [More info](https://digihub.telkomsel.com/documentation/consumer-guide/api-authentication)
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - transaction
              - sms
              properties:
                transaction:
                  type: object
                  properties:
                    transaction_id:
                      description: Transaction ID
                      type: string
                      example: C002190726165745657448250
                    callback_domain:
                      description: Partner's callback domain
                      type: string
                      example: yourcompanydomain.com
                sms:
                  type: object
                  required:
                  - recipient
                  - sms_text
                  properties:
                    sender_id:
                      description: ADN/SMS From
                      type: string
                      maxLength: 11
                      example: YOURCOMPANY
                    recipient:
                      description: MSISDN starts with "62" for Indonesia calling code
                      type: string
                      example: 62811xxx
                    sms_text:
                      description: Sms text is mandatory if template is not exist.
                      type: string
                      example: Hello World!
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                - sms_information
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
                  sms_information:
                    type: object
                    required:
                    - message_id
                    properties:
                      message_id:
                        description: SMS Message ID
                        type: string
                        example: 18D10100
        '400':
          description: Empty Mandatory Parameter / Invalid MSISDN / Invalid Sender ID
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
              examples:
                Empty Mandatory Parameter:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20001'
                      status_desc: Empty mandatory parameter
                Invalid MSISDN:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20002'
                      status_desc: INVALID MSISDN
                Invalid Sender ID:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20003'
                      status_desc: INVALID SENDER ID
        '500':
          description: Backend Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  status_code: '40000'
                  status_desc: Backend Internal Error
        '502':
          description: Backend Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  status_code: 30xxx
                  status_desc: 'Backend error: {consumer}-{provider}-{service provider error description}'
        '503':
          description: Backend Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  status_code: '10001'
                  status_desc: Backend unreachable
        '504':
          description: Backend Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  status_code: '10004'
                  status_desc: Backend response timeout
      callbacks:
        deliveryReport:
          https://{$request.body#/transaction/callback_domain}/callback/digihub/smsapi:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      required:
                      - transaction_id
                      - message_id
                      - status
                      properties:
                        transaction_id:
                          description: Transaction ID
                          type: string
                          example: C002190726165745657448250
                        message_id:
                          description: SMS Message ID
                          type: string
                          example: 18D10100
                        status:
                          description: SMS Delivery Status
                          type: string
                          example: DELIVRD
              responses:
                2XX:
                  description: Your server implementation should return this HTTP status code if the data
                    was received successfully
              summary: Delivery report callback (deliveryReport)
      tags:
      - SMS
      externalDocs:
        description: 'DigiHub endpoint reference: Send SMS'
        url: https://digihub.telkomsel.com/apis/V2/endpoint/71
  /digihub/sms/premium:
    post:
      summary: Send SMS Premium
      operationId: sendSMS-84
      description: This service will send SMS to Telkomsel MSISDN.
      parameters:
      - in: header
        name: api_key
        example: e688u2hgpkzjd244wecywwv8
        description: API Key / Package Key from Digihub
        required: true
        schema:
          type: string
      - in: header
        name: x-signature
        example: ff080f3200a5945deeb59ad65e2b33788f5df49066a82afcf8b6d5bf43ff76ea
        description: SHA256 (API Key + Secret Key + timeStamp). [More info](https://digihub.telkomsel.com/documentation/consumer-guide/api-authentication)
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - transaction
              - sms
              properties:
                transaction:
                  type: object
                  properties:
                    transaction_id:
                      description: Transaction ID
                      type: string
                      example: C002190726165745657448250
                    callback_domain:
                      description: Partner's callback domain
                      type: string
                      example: yourcompanydomain.com
                sms:
                  type: object
                  required:
                  - recipient
                  - sms_text
                  properties:
                    sender_id:
                      description: ADN/SMS From
                      type: string
                      maxLength: 11
                      example: YOURCOMPANY
                    recipient:
                      description: MSISDN starts with "62" for Indonesia calling code
                      type: string
                      example: 62811xxx
                    sms_text:
                      description: Sms text is mandatory if template is not exist.
                      type: string
                      example: Hello World!
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                - sms_information
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
                  sms_information:
                    type: object
                    required:
                    - message_id
                    properties:
                      message_id:
                        description: SMS Message ID
                        type: string
                        example: 18D10100
        '400':
          description: Empty Mandatory Parameter / Invalid MSISDN / Invalid Sender ID
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
              examples:
                Empty Mandatory Parameter:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20001'
                      status_desc: Empty mandatory parameter
                Invalid MSISDN:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20002'
                      status_desc: INVALID MSISDN
                Invalid Sender ID:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20003'
                      status_desc: INVALID SENDER ID
        '500':
          description: Backend Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  status_code: '40000'
                  status_desc: Backend Internal Error
        '502':
          description: Backend Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  status_code: 30xxx
                  status_desc: 'Backend error: {consumer}-{provider}-{service provider error description}'
        '503':
          description: Backend Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  status_code: '10001'
                  status_desc: Backend unreachable
        '504':
          description: Backend Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  status_code: '10004'
                  status_desc: Backend response timeout
      callbacks:
        deliveryReport:
          https://{$request.body#/transaction/callback_domain}/callback/digihub/smsapi:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      required:
                      - transaction_id
                      - message_id
                      - status
                      properties:
                        transaction_id:
                          description: Transaction ID
                          type: string
                          example: C002190726165745657448250
                        message_id:
                          description: SMS Message ID
                          type: string
                          example: 18D10100
                        status:
                          description: SMS Delivery Status
                          type: string
                          example: DELIVRD
              responses:
                2XX:
                  description: Your server implementation should return this HTTP status code if the data
                    was received successfully
              summary: Delivery report callback (deliveryReport)
      tags:
      - SMS
      externalDocs:
        description: 'DigiHub endpoint reference: Send SMS'
        url: https://digihub.telkomsel.com/apis/V2/endpoint/84
  /v1/delivery:
    get:
      summary: Get Delivery Status
      operationId: getDeliveryStatus
      description: This service as a module to get delivery status which are initiated by developer /
        partner.
      parameters:
      - in: header
        name: api_key
        example: e688u2hgpkzjd244wecywwv8
        description: API Key / Package Key from Digihub
        required: true
        schema:
          type: string
      - in: header
        name: x-signature
        example: ff080f3200a5945deeb59ad65e2b33788f5df49066a82afcf8b6d5bf43ff76ea
        description: SHA256 (API Key + Secret Key + timeStamp). [More info](https://digihub.telkomsel.com/documentation/consumer-guide/api-authentication)
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
          - application/json
      - in: query
        name: transaction_id
        required: true
        description: Transaction ID
        schema:
          type: string
          example: C002190926121907251312345
      - in: query
        name: message_id
        required: true
        description: Message ID
        schema:
          type: string
          example: 22D40100
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                - sms_information
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        type: string
                        description: Transaction ID
                        example: C002190726165745657448250
                      status_code:
                        type: string
                        description: Status code
                        example: '00000'
                      status_desc:
                        type: string
                        description: Status description
                        example: Success
                  sms_information:
                    type: object
                    required:
                    - transaction_id
                    - message_id
                    - sender_id
                    - recipient
                    - status
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190926121907251348411
                      message_id:
                        description: SMS Message ID
                        type: string
                        example: 22D40100
                      sender_id:
                        description: SMS Sender ID
                        type: string
                        example: YOURCOMPANY
                      recipient:
                        description: Telkomsel MSISDN
                        type: string
                        example: 62811xx
                      status:
                        description: Status of SMS delivery
                        type: string
                        example: DELIVRD
        '400':
          description: Empty Mandatory Parameter / Invalid MSISDN / Invalid Sender ID
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        type: string
                        description: Transaction ID
                        example: C002190726165745657448250
                      status_code:
                        type: string
                        description: Status code
                        example: '00000'
                      status_desc:
                        type: string
                        description: Status description
                        example: Success
              examples:
                Empty Mandatory Parameter:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20001'
                      status_desc: Empty mandatory parameter
                Invalid MSISDN:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20002'
                      status_desc: INVALID MSISDN
                Invalid Sender ID:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20003'
                      status_desc: INVALID SENDER ID
        '500':
          description: Backend Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        type: string
                        description: Transaction ID
                        example: C002190726165745657448250
                      status_code:
                        type: string
                        description: Status code
                        example: '00000'
                      status_desc:
                        type: string
                        description: Status description
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  status_code: '40000'
                  status_desc: Backend Internal Error
        '502':
          description: Backend Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        type: string
                        description: Transaction ID
                        example: C002190726165745657448250
                      status_code:
                        type: string
                        description: Status code
                        example: '00000'
                      status_desc:
                        type: string
                        description: Status description
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  status_code: 30xxx
                  status_desc: 'Backend error: {consumer}-{provider}-{service provider error description}'
        '503':
          description: Backend Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        type: string
                        description: Transaction ID
                        example: C002190726165745657448250
                      status_code:
                        type: string
                        description: Status code
                        example: '00000'
                      status_desc:
                        type: string
                        description: Status description
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  status_code: '10001'
                  status_desc: Backend unreachable
        '504':
          description: Backend Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        type: string
                        description: Transaction ID
                        example: C002190726165745657448250
                      status_code:
                        type: string
                        description: Status code
                        example: '00000'
                      status_desc:
                        type: string
                        description: Status description
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  status_code: '10004'
                  status_desc: Backend response timeout
      tags:
      - SMS
      externalDocs:
        description: 'DigiHub endpoint reference: Delivery Status'
        url: https://digihub.telkomsel.com/apis/V2/endpoint/72
  /digihub/ussd/broadcast:
    post:
      summary: Send USSD
      operationId: sendUSSD
      description: API to send USSD message.
      parameters:
      - in: header
        name: api_key
        example: e688u2hgpkzjd244wecywwv8
        description: API Key / Package Key from Digihub
        required: true
        schema:
          type: string
      - in: header
        name: x-signature
        example: ff080f3200a5945deeb59ad65e2b33788f5df49066a82afcf8b6d5bf43ff76ea
        description: SHA256 (API Key + Secret Key + timeStamp). [More info](https://digihub.telkomsel.com/documentation/consumer-guide/api-authentication)
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - transaction
              - ussd_broadcast
              properties:
                transaction:
                  type: object
                  properties:
                    transaction_id:
                      description: Unique Id generated at source
                      type: string
                      example: USSDBS190305164243721931830
                    channel:
                      description: Channel ID
                      type: string
                      example: MP
                    callback_domain:
                      description: 'Callback domain of partner should matches the following format : `domain.com/callback/digihub/ussdapi`'
                      type: string
                      example: domain.com/callback/digihub/ussdapi
                ussd_broadcast:
                  type: object
                  required:
                  - mms
                  - msisdn
                  - operation_type
                  - ussd_content
                  - ussd_short_code
                  properties:
                    mms:
                      description: 'More Message to Send.<br>

                        0 – No more further message.<br>

                        1 – More message to be sent soon (for interactive mode).

                        '
                      type: string
                      enum:
                      - '1'
                      - '2'
                      example: '1'
                    msisdn:
                      description: Subscriber mobile number
                      type: string
                      example: 62811xx
                    operation_type:
                      description: 'Operation Service Type<br>

                        NI – non-interactive.<br>

                        IN – interactive.<br>

                        SP – shortcode-push.

                        '
                      type: string
                      enum:
                      - NI
                      - IN
                      - SP
                      example: NI
                    ussd_content:
                      description: 'Ussd content in url endcoded format based on the operation type.<br>

                        NI – Must be filled.<br>

                        IN – Must be filled.<br>

                        SP – Must be empty.

                        '
                      type: string
                      example: Hello World!
                    ussd_short_code:
                      description: 'Ussd ShortCode.<br>

                        NI – Must be empty.<br>

                        IN – Must be empty.<br>

                        SP – Must be filled.

                        '
                      type: string
                      example: '*123#'
            examples:
              Non Interactive Mode:
                value:
                  transaction:
                    transaction_id: USSDBS190305164243721931830
                    channel: MP
                    callback_domain: domain.com/callback/digihub/ussdapi
                  ussd_broadcast:
                    mms: '0'
                    msisdn: 62811xx
                    operation_type: NI
                    ussd_content: Test Broadcast
                    ussd_short_code: ''
              Interactive Mode:
                value:
                  transaction:
                    transaction_id: USSDBS190305164243721931830
                    channel: MP
                    callback_domain: domain.com/callback/digihub/ussdapi
                  ussd_broadcast:
                    mms: '1'
                    msisdn: 62811xx
                    operation_type: IN
                    ussd_content: Test Broadcast
                    ussd_short_code: ''
              Short-code Push Mode:
                value:
                  transaction:
                    transaction_id: USSDBS190305164243721931830
                    channel: MP
                    callback_domain: domain.com/callback/digihub/ussdapi
                  ussd_broadcast:
                    mms: '1'
                    msisdn: 62811xx
                    operation_type: SP
                    ussd_content: Test Broadcast
                    ussd_short_code: '900'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                - ussd_broadcast
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - channel
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      channel:
                        description: Unique ID of the source which had initiated the transaction
                        type: string
                        example: MP
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
                  sms_information:
                    type: object
                    required:
                    - push_reference_id
                    properties:
                      push_reference_id:
                        description: 'Unique reference key, format is `yyyyddMMxxxxxxxx`<br>

                          `y` is year<br>

                          `d` is date<br>

                          `M` is month<br>

                          `x` is random number from timestamp char 3 – 8.

                          '
                        type: string
                        example: 2019230154329515
        '400':
          description: Invalid mandatory parameter / Empty mandatory parameter / Invalid callback URL
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - channel
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      channel:
                        description: Unique ID of the source which had initiated the transaction
                        type: string
                        example: MP
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
              examples:
                Invalid mandatory parameter:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      channel: MP
                      status_code: '20002'
                      status_desc: Invalid mandatory parameter
                    ussd_broadcast:
                      push_reference_id: '2019230154329515'
                Empty mandatory parameter:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      channel: MP
                      status_code: '20003'
                      status_desc: Empty mandatory parameter
                    ussd_broadcast:
                      push_reference_id: '2019230154329515'
                Invalid callback URL:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      channel: MP
                      status_code: '20100'
                      status_desc: Invalid callback URL
                    ussd_broadcast:
                      push_reference_id: '2019230154329515'
        '500':
          description: Client business error / ESB internal error / TMN communication exception
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - channel
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      channel:
                        description: Unique ID of the source which had initiated the transaction
                        type: string
                        example: MP
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
              examples:
                InvClient business error:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      channel: MP
                      status_code: '20101'
                      status_desc: Client business error
                    ussd_broadcast:
                      push_reference_id: '2019230154329515'
                ESB internal error:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      channel: MP
                      status_code: '40000'
                      status_desc: ESB internal error
                    ussd_broadcast:
                      push_reference_id: '2019230154329515'
                TMN communication exception:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      channel: MP
                      status_code: '40004'
                      status_desc: TMN communication exception
                    ussd_broadcast:
                      push_reference_id: '2019230154329515'
        '502':
          description: 'Service provider error: {consumer}-{provider}-{service provider error description}'
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - channel
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      channel:
                        description: Unique ID of the source which had initiated the transaction
                        type: string
                        example: MP
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  channel: MP
                  status_code: 30xxx
                  status_desc: 'Service provider error: {consumer}-{provider}-{service provider error
                    description}'
                ussd_broadcast:
                  push_reference_id: '2019230154329515'
        '503':
          description: Service provider unreachable
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - channel
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: C002190726165745657448250
                      channel:
                        description: Unique ID of the source which had initiated the transaction
                        type: string
                        example: MP
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status descriptiona
                        type: string
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  channel: MP
                  status_code: '10001'
                  status_desc: Service provider unreachable
                ussd_broadcast:
                  push_reference_id: '2019230154329515'
      callbacks:
        deliveryReport:
          https://{$request.body#/transaction/callback_domain}:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      required:
                      - transaction_id
                      - push_reference_id
                      - status
                      - content
                      properties:
                        transaction_id:
                          description: Transaction ID
                          type: string
                          example: C002190726165745657448250
                        push_reference_id:
                          description: Ussd pusdh reference id
                          type: string
                          example: '2018122654329521'
                        status:
                          description: Delivery report status
                          type: string
                          enum:
                          - SENDING
                          - DELIVRD
                          - UNDELIV
                          example: DELIVRD
                        content:
                          description: Content of delivery, if content contains “error:” then sending
                            ussd is undeliv
                          type: string
                          example: 'Yes'
              responses:
                2XX:
                  description: Your server implementation should return this HTTP status code if the data
                    was received successfully
              summary: Delivery report callback (deliveryReport)
      tags:
      - USSD
      externalDocs:
        description: 'DigiHub endpoint reference: Send USSD'
        url: https://digihub.telkomsel.com/apis/V2/endpoint/77
  /digihub/ussd/deliverystatus:
    get:
      summary: Get USSD Delivery Status
      operationId: getUssdDeliveryStatus
      description: This service as a module to get delivery status which are initiated by developer /
        partner.
      parameters:
      - in: header
        name: api_key
        example: e688u2hgpkzjd244wecywwv8
        description: API Key / Package Key from Digihub
        required: true
        schema:
          type: string
      - in: header
        name: x-signature
        example: ff080f3200a5945deeb59ad65e2b33788f5df49066a82afcf8b6d5bf43ff76ea
        description: SHA256 (API Key + Secret Key + timeStamp). [More info](https://digihub.telkomsel.com/documentation/consumer-guide/api-authentication)
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
          - application/json
      - in: query
        name: transaction_id
        required: true
        description: Transaction ID
        schema:
          type: string
          example: C002190926121907251312345
      - in: query
        name: push_reference_id
        required: true
        description: Ussd pusdh reference id
        schema:
          type: string
          example: 2018122654329521
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                - ussd_delivery
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        type: string
                        description: Transaction ID
                        example: C002190726165745657448250
                      status_code:
                        type: string
                        description: Status code
                        example: '00000'
                      status_desc:
                        type: string
                        description: Status description
                        example: Success
                  sms_information:
                    type: object
                    required:
                    - transaction_id
                    - network_reference_id
                    - push_reference_id
                    - msisdn
                    - status
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: USSDBS191015145758378931830
                      network_reference_id:
                        description: Network reference id
                        type: string
                        example: 00501CB85DA57C06
                      push_reference_id:
                        description: Push reference id
                        type: string
                        example: '2019151071126278'
                      msisdn:
                        description: Subscriber MSISDN
                        type: string
                        example: 62811xx
                      status:
                        description: Delivery status of USSD
                        type: string
                        example: DELIVRD
        default:
          description: Non-success response
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        type: string
                        description: Transaction ID
                        example: C002190726165745657448250
                      status_code:
                        type: string
                        description: Status code
                        example: '00000'
                      status_desc:
                        type: string
                        description: Status description
                        example: Success
              example:
                transaction:
                  transaction_id: C002190726165745657448250
                  status_code: '20001'
                  status_desc: Empty mandatory parameter
      tags:
      - USSD
      externalDocs:
        description: 'DigiHub endpoint reference: Delivery Status'
        url: https://digihub.telkomsel.com/apis/V2/endpoint/78
  /digihub/subscheck/activestatus:
    post:
      summary: API Active Status
      operationId: activeStatus
      description: This API will provide insight regarding active status of particular customer.
      parameters:
      - in: header
        name: api_key
        example: '[api_key]'
        description: API Key / Package Key from Digihub
        required: true
        schema:
          type: string
      - in: header
        name: x-signature
        example: '[x-signature]'
        description: SHA256 (API Key + Secret Key + timeStamp). [More info](https://digihub.telkomsel.com/documentation/consumer-guide/api-key-api-secret)
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - transaction
              properties:
                transaction:
                  type: object
                  required:
                  - trx_id
                  - command
                  properties:
                    trx_id:
                      description: Unique alphanumeric character generated by partner, max 20 char
                      type: string
                      example: 040520181127010000
                    command:
                      description: Service Type
                      type: string
                      example: isSubscriberStatus
                consent:
                  type: object
                  required:
                  - msisdn
                  - consent_id
                  - code
                  properties:
                    msisdn:
                      description: MSISDN starts with “62”. Minimum length is 11 and Maximum length is
                        13
                      type: string
                      example: '62811917671'
                    consent_id:
                      description: Received in API Login (Consent Management).
                      type: string
                      example: O3K6lE674dF4sVE/SqcYS1zT2ENoDxU/VB6bNWPmpGbLgjqkgIdJkNg=
                    code:
                      description: Given by Telkomsel.
                      type: string
                      example: 3erthdxb299n4dg2ue74xv4s
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - message
                - trx_id
                - result
                properties:
                  status:
                    description: Status Code
                    type: string
                    example: '00'
                  message:
                    description: Status Description
                    type: string
                    example: Success
                  trx_id:
                    description: Unique alphanumeric character generated by partner, max 20 char
                    type: string
                    example: 040520181127010000
                  result:
                    description: Potential output for this service is binary in string (yes/no)
                    type: string
                    example: Active
        '400':
          description: Invalid MSISDN / Customer not active / Parameter Param is invalid format
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction_id:
                    description: Transaction ID
                    type: string
                    example: C002190726165745657448250
                  status_code:
                    description: Status Code
                    type: string
                    example: '20012'
                  status_desc:
                    description: Status Description
                    type: string
                    example: table_code is not exist
              examples:
                Invalid MSISDN:
                  value:
                    status: '20'
                    message: Invalid MSISDN
                    trx_id: 040520181127010000
                    result: ''
                Customer not active:
                  value:
                    status: '17'
                    message: Customer not active
                    trx_id: 040520181127010000
                    result: ''
                Parameter Param is invalid format:
                  value:
                    status: '21'
                    message: Parameter Param is invalid format
                    trx_id: 040520181127010000
                    result: ''
      tags:
      - Subscriber Check
      externalDocs:
        description: 'DigiHub endpoint reference: API Active Status'
        url: https://digihub.telkomsel.com/apis/V2/endpoint/127
  /digihub/subscheck/v2/activestatus:
    post:
      summary: API Active Status
      operationId: activeStatus-137
      description: This API will provide insight regarding active status of particular customer.
      parameters:
      - in: header
        name: api_key
        example: '[api_key]'
        description: API Key / Package Key from Digihub
        required: true
        schema:
          type: string
      - in: header
        name: x-signature
        example: '[x-signature]'
        description: SHA256 (API Key + Secret Key + timeStamp). [More info](https://digihub.telkomsel.com/documentation/consumer-guide/api-key-api-secret)
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - transaction
              properties:
                transaction:
                  type: object
                  required:
                  - transaction_id
                  - key
                  properties:
                    transaction_id:
                      description: Unique alphanumeric character generated by partner, max 20 char
                      type: string
                      example: TEST001
                    key:
                      description: Service Type
                      type: string
                      example: msisdn
                consent:
                  type: object
                  required:
                  - partner_id
                  - consent_id
                  properties:
                    partner_id:
                      description: Given by Telkomsel.
                      type: string
                      example: TfbQQR5oaTqWb0dp5qdrI7XnLBwHdfskahBbc17ghPyO7WalKR/nIw+EPblJPHd/iNsUC9Nwmfis=
                    consent_id:
                      description: Received in API Login (Consent Management).
                      type: string
                      example: XvbWQR5oaTqWb0dp5qdrI7XnLBx5/tJi+D8+o95gdzWeN8liKI3FqYx7XCosC7HnLMZTrdskKCucN9ec7up/Z2mK2e+5mhd/VcY984Jp8jsafbaRBy7XRFT+ueou4UZjg3E3Q=
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    type: object
                    required:
                    - transaction_id
                    - status_code
                    - status_desc
                    properties:
                      transaction_id:
                        description: Transaction ID.
                        type: string
                        example: TEST001
                      status_code:
                        description: Status Code.
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status Description.
                        type: string
                        example: Success
                  request:
                    type: object
                    required:
                    - result
                    properties:
                      result:
                        description: result
                        type: string
                        example: ACTIVE
        '400':
          description: Invalid MSISDN / Customer not active / Parameter Param is invalid format
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction_id:
                    description: Transaction ID
                    type: string
                    example: C002190726165745657448250
                  status_code:
                    description: Status Code
                    type: string
                    example: '20012'
                  status_desc:
                    description: Status Description
                    type: string
                    example: table_code is not exist
              examples:
                Invalid MSISDN:
                  value:
                    status: '20'
                    message: Invalid MSISDN
                    trx_id: 040520181127010000
                    result: ''
                Customer not active:
                  value:
                    status: '17'
                    message: Customer not active
                    trx_id: 040520181127010000
                    result: ''
                Parameter Param is invalid format:
                  value:
                    status: '21'
                    message: Parameter Param is invalid format
                    trx_id: 040520181127010000
                    result: ''
      tags:
      - Subscriber Check
      externalDocs:
        description: 'DigiHub endpoint reference: API Active Status v2'
        url: https://digihub.telkomsel.com/apis/V2/endpoint/137
  /digihub/subscheck/subscribertype:
    post:
      summary: This API will provide insight regarding subscriber’s subscription type of targeted customer
      operationId: subscriberType
      parameters:
      - in: header
        name: api_key
        example: e688u2hgpkzjd244wecywwv8
        description: API Key / Package Key from Digihub
        required: true
        schema:
          type: string
      - in: header
        name: x-signature
        example: ff080f3200a5945deeb59ad65e2b33788f5df49066a82afcf8b6d5bf43ff76ea
        description: SHA256 (API Key + Secret Key + timeStamp). [More info](https://digihub.telkomsel.com/documentation/consumer-guide/api-authentication)
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - transaction
              - consent
              properties:
                transaction:
                  type: object
                  required:
                  - trx_id
                  - command
                  - param
                  properties:
                    trx_id:
                      type: string
                      example: 040520181127010000
                    command:
                      type: string
                      example: isSubscriberType
                    param:
                      type: string
                      example: Prepaid
                consent:
                  type: object
                  required:
                  - msisdn
                  - consent_id;
                  - code
                  properties:
                    msisdn:
                      type: string
                      example: '62811917671'
                    consent_id:
                      type: string
                      example: O3K6lE674dF4sVE/SqcYS1zT2ENoDxU/VB6bNWPmpGbLgjqkgIdJkNg=
                    code:
                      type: string
                      example: 3erthdxb299n4dg2ue74xv4s
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - message
                - trx_id
                - result
                properties:
                  status:
                    description: status
                    type: string
                    example: '00'
                  message:
                    description: message
                    type: string
                    example: Success
                  trx_id:
                    description: trx_id
                    type: string
                    example: 040520181127010000
                  result:
                    description: result
                    type: string
                    example: 'YES'
        '400':
          description: Invalid MSISDN / Customer not active / Parameter Param is invalid format
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - message
                - trx_id
                - result
                properties:
                  status:
                    description: status
                    type: string
                    example: '20'
                  message:
                    description: message
                    type: string
                    example: Invalid MSISDN
                  trx_id:
                    description: trx_id
                    type: string
                    example: 040520181127010000
                  result:
                    description: result
                    type: string
                    example: ''
              examples:
                Invalid MSISDN:
                  value:
                    status: '20'
                    message: Invalid MSISDN
                    trx_id: 040520181127010000
                    result: ''
                Customer not active:
                  value:
                    status: '17'
                    message: Customer not active
                    trx_id: 040520181127010000
                    result: ''
                Parameter Param is invalid format:
                  value:
                    status: '21'
                    message: Parameter Param is invalid format
                    trx_id: 040520181127010000
                    result: ''
      tags:
      - Subscriber Check
      externalDocs:
        description: 'DigiHub endpoint reference: API Subscriber Type'
        url: https://digihub.telkomsel.com/apis/V2/endpoint/134
    servers:
    - url: https://digihub.telkomsel.com
  /digihub/subscheck/roamingstatus:
    post:
      summary: This API will provide insight regarding roaming status of targeted customer
      operationId: roamingStatus
      parameters:
      - in: header
        name: api_key
        example: e688u2hgpkzjd244wecywwv8
        description: API Key / Package Key from Digihub
        required: true
        schema:
          type: string
      - in: header
        name: x-signature
        example: ff080f3200a5945deeb59ad65e2b33788f5df49066a82afcf8b6d5bf43ff76ea
        description: SHA256 (API Key + Secret Key + timeStamp). [More info](https://digihub.telkomsel.com/documentation/consumer-guide/api-authentication)
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - transaction
              - consent
              properties:
                transaction:
                  type: object
                  required:
                  - trx_id
                  - command
                  properties:
                    trx_id:
                      type: string
                      example: 040520181127010000
                    command:
                      type: string
                      example: isRoaming
                consent:
                  type: object
                  required:
                  - msisdn
                  - consent_id;
                  - code
                  properties:
                    msisdn:
                      type: string
                      example: '62811917671'
                    consent_id:
                      type: string
                      example: O3K6lE674dF4sVE/SqcYS1zT2ENoDxU/VB6bNWPmpGbLgjqkgIdJkNg=
                    code:
                      type: string
                      example: 3erthdxb299n4dg2ue74xv4s
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - message
                - trx_id
                - result
                properties:
                  status:
                    description: status
                    type: string
                    example: '00'
                  message:
                    description: message
                    type: string
                    example: Success
                  trx_id:
                    description: trx_id
                    type: string
                    example: 040520181127010000
                  result:
                    description: result
                    type: string
                    example: 'YES'
        '400':
          description: Invalid MSISDN / Customer not active / Parameter Param is invalid format
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - message
                - trx_id
                - result
                properties:
                  status:
                    description: status
                    type: string
                    example: '20'
                  message:
                    description: message
                    type: string
                    example: Invalid MSISDN
                  trx_id:
                    description: trx_id
                    type: string
                    example: 040520181127010000
                  result:
                    description: result
                    type: string
                    example: ''
              examples:
                Invalid MSISDN:
                  value:
                    status: '20'
                    message: Invalid MSISDN
                    trx_id: 040520181127010000
                    result: ''
                Customer not active:
                  value:
                    status: '17'
                    message: Customer not active
                    trx_id: 040520181127010000
                    result: ''
                Parameter Param is invalid format:
                  value:
                    status: '21'
                    message: Parameter Param is invalid format
                    trx_id: 040520181127010000
                    result: ''
      tags:
      - Subscriber Check
      externalDocs:
        description: 'DigiHub endpoint reference: API Roaming Status'
        url: https://digihub.telkomsel.com/apis/V2/endpoint/133
    servers:
    - url: https://digihub.telkomsel.com
  /digihub/subscheck/callforward:
    post:
      summary: This API will provide insight regarding call forwarding status of targeted customer
      operationId: callForwarding
      parameters:
      - in: header
        name: api_key
        example: e688u2hgpkzjd244wecywwv8
        description: API Key / Package Key from Digihub
        required: true
        schema:
          type: string
      - in: header
        name: x-signature
        example: ff080f3200a5945deeb59ad65e2b33788f5df49066a82afcf8b6d5bf43ff76ea
        description: SHA256 (API Key + Secret Key + timeStamp). [More info](https://digihub.telkomsel.com/documentation/consumer-guide/api-authentication)
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - transaction
              - consent
              properties:
                transaction:
                  type: object
                  required:
                  - trx_id
                  - command
                  properties:
                    trx_id:
                      type: string
                      example: 040520181127010000
                    command:
                      type: string
                      example: isCallForwardActive
                consent:
                  type: object
                  required:
                  - msisdn
                  - consent_id;
                  - code
                  properties:
                    msisdn:
                      type: string
                      example: '62811917671'
                    consent_id:
                      type: string
                      example: O3K6lE674dF4sVE/SqcYS1zT2ENoDxU/VB6bNWPmpGbLgjqkgIdJkNg=
                    code:
                      type: string
                      example: 3erthdxb299n4dg2ue74xv4s
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - message
                - trx_id
                - result
                properties:
                  status:
                    description: status
                    type: string
                    example: '00'
                  message:
                    description: message
                    type: string
                    example: Success
                  trx_id:
                    description: trx_id
                    type: string
                    example: 040520181127010000
                  result:
                    description: result
                    type: string
                    example: 'YES'
        '400':
          description: Invalid MSISDN / Customer not active / Parameter Param is invalid format
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - message
                - trx_id
                - result
                properties:
                  status:
                    description: status
                    type: string
                    example: '20'
                  message:
                    description: message
                    type: string
                    example: Invalid MSISDN
                  trx_id:
                    description: trx_id
                    type: string
                    example: 040520181127010000
                  result:
                    description: result
                    type: string
                    example: ''
              examples:
                Invalid MSISDN:
                  value:
                    status: '20'
                    message: Invalid MSISDN
                    trx_id: 040520181127010000
                    result: ''
                Customer not active:
                  value:
                    status: '17'
                    message: Customer not active
                    trx_id: 040520181127010000
                    result: ''
                Parameter Param is invalid format:
                  value:
                    status: '21'
                    message: Parameter Param is invalid format
                    trx_id: 040520181127010000
                    result: ''
      tags:
      - Subscriber Check
      externalDocs:
        description: 'DigiHub endpoint reference: API Call Forwarding Status'
        url: https://digihub.telkomsel.com/apis/V2/endpoint/132
    servers:
    - url: https://digihub.telkomsel.com
  /digihub/subscheck/recyclev2:
    post:
      summary: Recycle v2
      operationId: Recycle-v2
      description: This API will allow user to know if a MSISDN has been recycled or not by comparing
        a user’s last activation/registered time with last deactivation time in Telkomsel’s system.
      parameters:
      - in: header
        name: api_key
        example: '[api_key]'
        description: API Key / Package Key from Digihub
        required: true
        schema:
          type: string
      - in: header
        name: x-signature
        example: '[x-signature]'
        description: SHA256 (API Key + Secret Key + timeStamp). [More info](https://digihub.telkomsel.com/documentation/consumer-guide/api-key-api-secret)
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - transaction
              - parameter
              properties:
                transaction:
                  type: object
                  properties:
                    transaction_id:
                      description: Transaction ID
                      type: string
                      example: '1643624695_00000001'
                    consent_id:
                      description: Customer consent id
                      type: string
                      example: consent_01
                    msisdn:
                      description: MSISDN starts with “62” for Indonesia calling code
                      type: string
                      example: '628111334960'
                parameter:
                  type: object
                  properties:
                    timestamp:
                      description: Timestamp with “yyyy-mm-dd” format and not greater than current date
                      type: string
                      example: '2021-01-01'
                    channel:
                      description: Channel name, for external TSEL please use “marketplace” as the value
                      type: string
                      example: partner_01
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction_id
                - status_code
                - status_desc
                - result
                properties:
                  transaction_id:
                    description: Transaction ID.
                    type: string
                    example: '1643624695_00000187'
                  status_code:
                    description: Status Code
                    type: string
                    example: '00000'
                  status_desc:
                    description: Status Description
                    type: string
                    example: Success
                  result:
                    description: Result of whether msisdn is recycled or not.
                    type: string
                    example: 'NO'
        '400':
          description: Empty Mandatory Parameter / Invalid MSISDN / Invalid Timestamp
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction_id
                - status_code
                - status_desc
                properties:
                  transaction_id:
                    description: Transaction ID
                    type: string
                    example: C002190726165745657448250
                  status_code:
                    description: Status Code
                    type: string
                    example: '20101'
                  status_desc:
                    description: Status Description
                    type: string
                    example: Invalid Timestamp
              examples:
                Empty Mandatory Parameter:
                  value:
                    transaction_id: C002190726165745657448250
                    status_code: '20001'
                    status_desc: Empty mandatory parameter
                Invalid MSISDN:
                  value:
                    transaction_id: C002190726165745657448250
                    status_code: '20002'
                    status_desc: INVALID MSISDN
                Invalid Timestamp:
                  value:
                    transaction_id: C002190726165745657448250
                    status_code: '20101'
                    status_desc: Invalid Timestamp
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction_id
                - status_code
                - status_desc
                properties:
                  transaction_id:
                    description: Transaction ID
                    type: string
                    example: C002190726165745657448250
                  status_code:
                    description: Status Code
                    type: string
                    example: '20101'
                  status_desc:
                    description: Status Description
                    type: string
                    example: Invalid Timestamp
              example:
                transaction_id: C002190726165745657448250
                status_code: '40000'
                status_desc: ESB Internal Error
        '502':
          description: Backend Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction_id
                - status_code
                - status_desc
                properties:
                  transaction_id:
                    description: Transaction ID
                    type: string
                    example: C002190726165745657448250
                  status_code:
                    description: Status Code
                    type: string
                    example: '20101'
                  status_desc:
                    description: Status Description
                    type: string
                    example: Invalid Timestamp
              example:
                transaction_id: C002190726165745657448250
                status_code: 30xxx
                status_desc: 'Service provider error: {consumer}-{provider}-{service provider error description}'
        '503':
          description: Service provider unreachable
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction_id
                - status_code
                - status_desc
                properties:
                  transaction_id:
                    description: Transaction ID
                    type: string
                    example: C002190726165745657448250
                  status_code:
                    description: Status Code
                    type: string
                    example: '20101'
                  status_desc:
                    description: Status Description
                    type: string
                    example: Invalid Timestamp
              example:
                transaction_id: C002190726165745657448250
                status_code: '10001'
                status_desc: Service provider unreachable
        '504':
          description: Service provider response timeout
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction_id
                - status_code
                - status_desc
                properties:
                  transaction_id:
                    description: Transaction ID
                    type: string
                    example: C002190726165745657448250
                  status_code:
                    description: Status Code
                    type: string
                    example: '20101'
                  status_desc:
                    description: Status Description
                    type: string
                    example: Invalid Timestamp
              example:
                transaction_id: C002190726165745657448250
                status_code: '10004'
                status_desc: Service provider response timeout
      tags:
      - Subscriber Check
      externalDocs:
        description: 'DigiHub endpoint reference: Recycle v2'
        url: https://digihub.telkomsel.com/apis/V2/endpoint/143
  /digihub/subscheck/nikmatchingv4:
    post:
      summary: NIK Matching v4
      operationId: NIK-Matching-v4
      description: This service is use to check pair of KTP with msisdn. This API will enable Government
        or Enterprise to know if NIK and MSISDN are paired according to Telkomsel Registration Process.
        Telkomsel will just respond with Score.
      parameters:
      - in: header
        name: api_key
        example: e688u2hgpkzjd244wecywwv8
        description: API Key / Package Key from Digihub
        required: true
        schema:
          type: string
      - in: header
        name: x-signature
        example: ff080f3200a5945deeb59ad65e2b33788f5df49066a82afcf8b6d5bf43ff76ea
        description: SHA256 (API Key + Secret Key + timeStamp). [More info](https://digihub.telkomsel.com/documentation/consumer-guide/api-authentication)
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - transaction
              - parameter
              properties:
                transaction:
                  type: object
                  required:
                  - transaction_id
                  - consent_id
                  - msisdn
                  properties:
                    transaction_id:
                      description: Transaction ID
                      type: string
                      example: '1643624695_00000187'
                    consent_id:
                      description: Customer consent id
                      type: string
                      example: consent_01
                    msisdn:
                      description: MSISDN starts with “62” for Indonesia calling code.
                      type: string
                      example: '628111334831'
                parameter:
                  type: object
                  required:
                  - nik
                  - channel
                  properties:
                    nik:
                      description: Personal Identity Number
                      type: string
                      example: 3275084501940012
                    channel:
                      description: Channel name, for external TSEL please use “of” as the value
                      type: string
                      example: of
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                - ktpmatch_information
                properties:
                  transaction:
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: '1643624695_00000187'
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status description
                        type: string
                        example: Success
                      score:
                        description: Score of KTP Match returned based on score mapping Scoring Rules.
                        type: string
                        example: '2'
        '400':
          description: Empty Mandatory Parameter / Invalid MSISDN / Invalid Sender ID
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: '1643624695_00000187'
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
                        description: Status description
                        type: string
                        example: Success
                      score:
                        description: Score of KTP Match returned based on score mapping Scoring Rules.
                        type: string
                        example: '2'
              examples:
                Empty Mandatory Parameter:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20001'
                      status_desc: Empty mandatory parameter
                Invalid MSISDN:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20002'
                      status_desc: INVALID MSISDN
                Subscriber MSISDN Not Found:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20003'
                      status_desc: Subscriber MSISDN Not Found
                Error msisdn is postpaid:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20004'
                      status_desc: Error msisdn is postpaid
                Msisdn is Not Active:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20005'
                      status_desc: Error msisdn is postpaid
                Code Not Found:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20009'
                      status_desc: Code Not Found
                Partner Not Allow:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20013'
                      status_desc: Partner Not Allow
                Customer Not Consent:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20014'
                      status_desc: Customer Not Consent
                Consent expired:
                  value:
                    transaction:
                      transaction_id: C002190726165745657448250
                      status_code: '20015'
                      status_desc: Consent expired
        '502':
          description: Backend Internal Error
          content:
            application/json:
              schema:
                type: object
                required:
                - transaction
                properties:
                  transaction:
                    properties:
                      transaction_id:
                        description: Transaction ID
                        type: string
                        example: '1643624695_00000187'
                      status_code:
                        description: Status code
                        type: string
                        example: '00000'
                      status_desc:
[...]
